/node_modules
/public/hot
/public/storage
/public/image
/public/images
/resources/views/_shop
/public/assets/_frontend
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.DS_
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

public/robots.txt
public/files/uploads
